.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.icon {
  fill: #007EFF;
  stroke: white;
  font-size: 3em;
  margin: 0 20px;
}
.box-middle > div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 18px;
}
.top-header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.iconborder > div{
  margin: auto;
  margin-bottom: 10px;
}
.topmaincontainer{
  border: solid 4px #ededed;
  padding: 30px;
  background-color: #f6f6f6;
}